<!--<section class="share">

    <h3>اشتراک گذاری</h3>

    <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="توییتر">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>

    <a aria-label="Share on Telegram"href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&text=ReadAbout: "
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="تلگرام">
        <svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg>
    </a>

    <a aria-label="Share on linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="لینکداین">
        <svg class="icon icon-linkedin-in"><use xlink:href="#icon-linkedin-in"></use></svg>
    </a>

</section>
-->
